<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kivymd Blog</title>

    <meta name="description" content="Librería de Python 3 para crear una interfaz gráfica de usuario para aplicaciones movíles y de escritorio">
    <meta name="keywords" content="Python, JavaScript, PHP, Java, Kivy, Kivymd, Android, iOS, Móvil, México">

    <!-- JavaScript -->
    <script src="/app/JS/app.js"></script>

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">

    <!-- Estilos -->
    <link rel="stylesheet" href="/app/CSS/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/app/CSS/main.css">
    
</head>
<body>

    <div include-html-file="/app/templates/menu.html"></div>

    <!-- ****************************************************** CONTENIDO ****************************************************** -->


    <!-- ****************************************************** CONTENIDO ****************************************************** -->

    <div include-html-file="/app/templates/footer.html"></div>
    
</body>
</html>